.searchbox{
    width: 350px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left:  25%;
}
.searchBar{
    width:40px;
    height: 40px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .8);
    border-radius: 40px;
    display: flex;
    justify-content:baseline;
    align-items: center;
    /* margin-left: 45%; */
    margin-top: 10px;
    margin-bottom: -50px;
    position:absolute;
    top:10px;
    /* position: relative; */
    overflow: hidden;
    transition: .5s;
}
.changeWidth{
    width:350px;
}

.icon{
    width:40px;
    height: 40px;
    background-color: #fff;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.icon::before{
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid #777777;
    position: absolute;
    transform: translate(-4px,-4px);
}

.icon::after{
    content: '';
    width: 3px;
    height: 12px;
    background-color: #777777;
    transform: translate(6px,6px) rotate(315deg);
}
.textinput{
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    position: absolute;
    top:0;
    left:40px;
}
.textinput input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;
}
.clear{
    width: 15px;
    height: 15px;
    position: absolute;
    right: 22%;
    top:50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clear::before{
    float: left;
    content: '';
    width: 1px;
    height: 15px;
    background-color: #777777;
    transform: rotate(45deg);
    position: absolute;
}
.clear::after{
    float: left;
    content: '';
    width: 1px;
    height: 15px;
    background-color: #777777;
    transform: rotate(315deg);
}


#go{
    width: 12%;
    height: 65%;
    position:absolute ;
    top: 20%;
    right: 0;
    border-radius: 8px;
    color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, .4);
    background: linear-gradient(#777777,#333);
}
#go:hover{
    cursor: pointer;
    background: #cc6600;
}

.topwords{
    float: left;
    width: 40%;
    height: 100px;
    margin-top: 80px;
    margin-left: 10%;
}
.topwords .item{
    font-size: 30px;
    font-style: normal;
    color: rgb(255, 255, 255);
    font-weight:bold;
}

.toppic{
    float: right;
    width: 40%;
    height: 100%;
    margin-top: 0;
    padding-right:0%;
}
.wavepic{
    float: right;
    width: auto;
    height: 130%;
    margin-right: 10%;
}

.top>.menue{
    width:100%;
    height:80px;
    background:#000;
    box-shadow:0 1px 2px  #333;
    position:fixed;
    top: 0;
    left: 0;
}
.top>.menue>.box{
    width:80%; 
    height:100%; 
    margin: auto;
}

.ul_menue{
    height:100%; 
    list-style: none;
    float: right;
}
.ul_menue .item{
    float:left;
    height:100%;
    line-height: 50px;
    padding: 0 10px;
    margin: 0;
    color:white;
    font-size: 20px;
    cursor:pointer;
}
.ul_menue a{ text-decoration: none; color: #fff; }
.ul_menue a:hover{color: darkgrey;}
.yskylogo{
    float: left;
    width: 200px;
    height:100%;
}
 
.yskylogo a:hover{color: aqua; }

.yskylogo .logo{
    float: left;
    width: 80%;
    height: auto;
    padding-top: 20px;
    font-size: 30px;
    text-align:left;
    color: #fff;
    cursor:pointer;
}

.homegif{
    float: left;
    width:100px;
    height: 100px;
    padding-top:100px;
    position: absolute;
    left: 1%;
}

.box1{
    float: left;
    width: 100%;
    height: 800px;
    position: absolute;
    color: #fff;
    /* background: url(images/bg1.png) center; */
    /* background: rgb(0, 0, 0); */
    position: relative;
}


.box2{
    float: left;
    width: 100%;
    height: 2000px;
    position:relative;
    /* background: rgba(254, 254, 254, 0.9); */
}

.box1 li{
    color:#fff;
}

.moon{
    float:right;
    width: 40%;
    height: auto;


}



.footer{
    float: left;
    width:100%;
    height:50px;
    color: #fff;
    text-align: center;
    padding-top: 20px;
    /* position: relative; */
    bottom: 0%;
    font-size: 15px;
}

.footer li{
   display:inline;

}

.footer li a{
    text-decoration: none; 
    color: #fff; 
}
.footer li a:hover{
    text-decoration: underline; 
    color: #cccccc; 
}

body{

    margin: 0; 
    background:#000;}
